In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer     
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from xgboost import  XGBRFRegressor

In [ ]:
train_data=pd.read_excel("/content/drive/MyDrive/flight dataset/Data_Train.xlsx")
test_data=pd.read_excel("/content/drive/MyDrive/flight dataset/Test_set.xlsx")
train_data.shape

(10683, 11)

In [ ]:
df=train_data.append(test_data,sort=False)
df.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info    Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897.0
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662.0
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882.0
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218.0
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302.0

[5 rows x 11 columns]

In [ ]:
df["journey_day"]=df['Date_of_Journey'].str.split('/').str[0]
df["journey_month"]=df['Date_of_Journey'].str.split('/').str[1]
df["journey_year"]=df['Date_of_Journey'].str.split('/').str[2]
df.journey_day=df['journey_day'].astype(int)
df.journey_month=df['journey_month'].astype(int)
df.journey_year=df['journey_year'].astype(int)
df.drop(columns='Date_of_Journey',axis=1,inplace=True)
df.head()

       Airline    Source Destination  ... journey_day journey_month journey_year
0       IndiGo  Banglore   New Delhi  ...          24             3         2019
1    Air India   Kolkata    Banglore  ...           1             5         2019
2  Jet Airways     Delhi      Cochin  ...           9             6         2019
3       IndiGo   Kolkata    Banglore  ...          12             5         2019
4       IndiGo  Banglore   New Delhi  ...           1             3         2019

[5 rows x 13 columns]

In [ ]:
df['Total_Stops']=df['Total_Stops'].replace("non-stop",'0 stops')
df.Total_Stops.fillna('0 s',inplace=True)
df['stops']=df['Total_Stops'].str.split(' ').str[0]
df.stops=df['stops'].astype(int)
df.drop(columns='Total_Stops',axis=1,inplace=True)
df.head()

       Airline    Source Destination  ... journey_month journey_year stops
0       IndiGo  Banglore   New Delhi  ...             3         2019     0
1    Air India   Kolkata    Banglore  ...             5         2019     2
2  Jet Airways     Delhi      Cochin  ...             6         2019     2
3       IndiGo   Kolkata    Banglore  ...             5         2019     1
4       IndiGo  Banglore   New Delhi  ...             3         2019     1

[5 rows x 13 columns]

In [ ]:
df[df.Route.isnull()]
df.Route.fillna('none',inplace=True)
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 0
Dep_Time              0
Arrival_Time          0
Duration              0
Additional_Info       0
Price              2671
journey_day           0
journey_month         0
journey_year          0
stops                 0
dtype: int64

In [ ]:
df['route 1']=df.Route.str.split('→').str[0]
df['route 2']=df.Route.str.split('→').str[1]
df['route 3']=df.Route.str.split('→').str[2]
df['route 4']=df.Route.str.split('→').str[3]
df['route 5']=df.Route.str.split('→').str[4]
df['route 6']=df.Route.str.split('→').str[5]
df.isnull().sum()

Airline                0
Source                 0
Destination            0
Route                  0
Dep_Time               0
Arrival_Time           0
Duration               0
Additional_Info        0
Price               2671
journey_day            0
journey_month          0
journey_year           0
stops                  0
route 1                0
route 2                1
route 3             4341
route 4            11397
route 5            13296
route 6            13352
dtype: int64

In [ ]:
df['route 2'].fillna('None',inplace=True) 
df['route 3'].fillna('None',inplace=True)
df['route 4'].fillna('None',inplace=True)
df['route 5'].fillna('None',inplace=True)
df['route 6'].fillna('None',inplace=True)
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 0
Dep_Time              0
Arrival_Time          0
Duration              0
Additional_Info       0
Price              2671
journey_day           0
journey_month         0
journey_year          0
stops                 0
route 1               0
route 2               0
route 3               0
route 4               0
route 5               0
route 6               0
dtype: int64

In [ ]:
df.drop(columns='Route',axis=1,inplace=True)

In [ ]:
df.head()

       Airline    Source Destination Dep_Time  ... route 3 route 4 route 5  route 6
0       IndiGo  Banglore   New Delhi    22:20  ...    None    None    None     None
1    Air India   Kolkata    Banglore    05:50  ...    BBI      BLR    None     None
2  Jet Airways     Delhi      Cochin    09:25  ...    BOM      COK    None     None
3       IndiGo   Kolkata    Banglore    18:05  ...     BLR    None    None     None
4       IndiGo  Banglore   New Delhi    16:50  ...     DEL    None    None     None

[5 rows x 18 columns]

In [ ]:
df['dep_hour']=df['Dep_Time'].str.split(':').str[0]
df['dep_min']=df['Dep_Time'].str.split(':').str[1]
df['dep_hour']=df['dep_hour'].astype(int)
df['dep_min']=df['dep_min'].astype(int)
df.drop(columns='Dep_Time',axis=1,inplace=True)
df.dtypes

Airline             object
Source              object
Destination         object
Arrival_Time        object
Duration            object
Additional_Info     object
Price              float64
journey_day          int64
journey_month        int64
journey_year         int64
stops                int64
route 1             object
route 2             object
route 3             object
route 4             object
route 5             object
route 6             object
dep_hour             int64
dep_min              int64
dtype: object

In [ ]:
df['duration_hour']=df['Duration'].str.split('h').str[0]
df['duration_min']=df['Duration'].str.split(' ').str[1]
df.duration_min=df.duration_min.str.split('m').str[0]
df.duration_hour.fillna('0',inplace=True)
df.duration_min.fillna('0',inplace=True)
df.duration_min=df.duration_min.astype(int)

In [ ]:
df.duration_hour.replace('5m','0',inplace=True)
df.duration_hour=df.duration_hour.astype(int)

In [ ]:
df.drop(columns='Duration',axis=1,inplace=True)
df.dtypes

Airline             object
Source              object
Destination         object
Arrival_Time        object
Additional_Info     object
Price              float64
journey_day          int64
journey_month        int64
journey_year         int64
stops                int64
route 1             object
route 2             object
route 3             object
route 4             object
route 5             object
route 6             object
dep_hour             int64
dep_min              int64
duration_hour        int64
duration_min         int64
dtype: object

In [ ]:
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min']=df['Arrival_Time'].str.split(':').str[1]
df['Arrival_date']=df.Arrival_min.str.split(' ').str[1]
df['Arrival_month']=df.Arrival_min.str.split(' ').str[2]
df['Arrival_min']=df.Arrival_min.str.split(' ').str[0]
df['Arrival_hour']=df['Arrival_hour'].astype(int)
df['Arrival_min']=df['Arrival_min'].astype(int)
df.drop(columns='Arrival_Time',axis=1,inplace=True)
df.dtypes

Airline             object
Source              object
Destination         object
Additional_Info     object
Price              float64
journey_day          int64
journey_month        int64
journey_year         int64
stops                int64
route 1             object
route 2             object
route 3             object
route 4             object
route 5             object
route 6             object
dep_hour             int64
dep_min              int64
duration_hour        int64
duration_min         int64
Arrival_hour         int64
Arrival_min          int64
Arrival_date        object
Arrival_month       object
dtype: object

In [ ]:
 df.Arrival_date.fillna(df.journey_day,inplace=True)
 df.Arrival_month.fillna("None",inplace=True)
df.Arrival_date=df.Arrival_date.astype(int)
df.dtypes

Airline             object
Source              object
Destination         object
Additional_Info     object
Price              float64
journey_day          int64
journey_month        int64
journey_year         int64
stops                int64
route 1             object
route 2             object
route 3             object
route 4             object
route 5             object
route 6             object
dep_hour             int64
dep_min              int64
duration_hour        int64
duration_min         int64
Arrival_hour         int64
Arrival_min          int64
Arrival_date         int64
Arrival_month       object
dtype: object

In [ ]:
encoder=LabelEncoder()
df.Airline=encoder.fit_transform(df.Airline)
df.Source=encoder.fit_transform(df.Source)
df.Destination=encoder.fit_transform(df.Destination)
df.Additional_Info=encoder.fit_transform(df.Additional_Info)
df['route 1']=encoder.fit_transform(df['route 1'])
df['route 2']=encoder.fit_transform(df['route 2'])
df['route 3']=encoder.fit_transform(df['route 3'])
df['route 4']=encoder.fit_transform(df['route 4'])
df['route 5']=encoder.fit_transform(df['route 5'])
df['route 6']=encoder.fit_transform(df['route 6'])
df.Arrival_month=encoder.fit_transform(df.Arrival_month)
df.isnull().sum()

Airline               0
Source                0
Destination           0
Additional_Info       0
Price              2671
journey_day           0
journey_month         0
journey_year          0
stops                 0
route 1               0
route 2               0
route 3               0
route 4               0
route 5               0
route 6               0
dep_hour              0
dep_min               0
duration_hour         0
duration_min          0
Arrival_hour          0
Arrival_min           0
Arrival_date          0
Arrival_month         0
dtype: int64

In [ ]:
train_df=df[:10683]
X=train_df.drop(columns='Price',axis=1)
y=train_df.Price
X.shape
y.isnull().sum()

0

In [ ]:
Test=df[10683:]
test_df=Test.drop(columns='Price',axis=1)
test_df.isnull().sum()

Airline            0
Source             0
Destination        0
Additional_Info    0
journey_day        0
journey_month      0
journey_year       0
stops              0
route 1            0
route 2            0
route 3            0
route 4            0
route 5            0
route 6            0
dep_hour           0
dep_min            0
duration_hour      0
duration_min       0
Arrival_hour       0
Arrival_min        0
Arrival_date       0
Arrival_month      0
dtype: int64

In [ ]:
X.describe()

            Airline        Source  ...  Arrival_date  Arrival_month
count  10683.000000  10683.000000  ...  10683.000000   10683.000000
mean       3.965927      1.952261  ...     13.907517       3.152204
std        2.352155      1.177221  ...      8.466730       1.193524
min        0.000000      0.000000  ...      1.000000       0.000000
25%        3.000000      2.000000  ...      7.000000       2.000000
50%        4.000000      2.000000  ...     13.000000       4.000000
75%        4.000000      3.000000  ...     21.000000       4.000000
max       11.000000      4.000000  ...     29.000000       4.000000

[8 rows x 22 columns]

In [ ]:
model=LinearRegression()
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.250023,random_state=0)
model.fit(X_train,Y_train)
y_pred=model.predict(test_df)

In [ ]:
model.score(X_test,Y_test)
-np.sqrt(np.square(np.log10(y_pred +1)-np.log10(Y_test +1)).mean())

-0.2873874743672803

In [ ]:
model2=RandomForestRegressor(n_estimators=22)
model2.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=22, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y2_pred=model2.predict(test_df)
model2.score(X_test,Y_test)
-np.sqrt(np.square(np.log10(y2_pred +1)-np.log10(Y_test +1)).mean())

-0.308906762451867

In [ ]:
my_model=XGBRegressor(n_estimators=3000,early_stopping_rounds=10,n_jobs=5)
my_model.fit(X_train,Y_train)
y3=my_model.predict(test_df)
-np.sqrt(np.square(np.log10(y3 +1)-np.log10(Y_test +1)).mean())

[06:39:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

-0.30999421177836606

In [ ]:
model_3=XGBRFRegressor(n_estimators=3000,early_stopping_rounds=10,n_jobs=5,learning_rate=0.2)
model_3.fit(X_train,Y_train)
y4=model_3.predict(test_df)
-np.sqrt(np.square(np.log10(y4 +1)-np.log10(Y_test +1)).mean())

[06:46:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

-0.7338721651219831

In [ ]:
pdf=pd.DataFrame({'Price':y4})
pdf.to_excel('/content/drive/MyDrive/xgrfoutput.xlsx',index=False)